
.font-size-gg, .font-size-gg--bold {
    font-size: 3.5rem;
}

.font-size-g, .font-size-g--bold {
    font-size: 2.3rem;
}

.font-size-m, .font-size-m--bold {
    font-size: 1.8rem;
}

.font-size-p, .font-size-p--bold {
    font-size: 1.3rem;
}

.font-size-g--bold, .font-size-gg--bold, .font-size-m--bold, .font-size-p--bold  {
    font-weight: bolder;
}